extends layout

block content
    div.card
        h2 Welcome to Candomble
        p This project began as a student's final project, and is slowly evolving to be something that can be shared with the world. If you have any input whatsoever, or want to be a contributor (content creator, developer, designer) feel free to email the developer,&nbsp;
            a(href='mailto:alice.easterdevelops@gmail.com') Alice Easter
            | , at&nbsp;
            a(href='mailto:alice.easterdevelops@gmail.com') alice.easterdevelops@gmail.com
            |.
        h2 Technical Details
        p This site is built on the Node Express framework, and all content is pulled from a local mysql database. All spirit pages are dynamically generated using pug, scss, and coffeescript. The Candomble Compendium is licensed under the GPL, and all code is available for inspection on&nbsp;
            a(href='https://github.com/codeWonderland/cancomp', target='_blank') GitHub
            |.

        h2 Future Enhancements
        p This project is in no way done, and at its current state is more appropriately known as a beta release. You can expect a number of changes to occur in the near future that may include, but is not limited to:
        ul
            li A user login system for admins to update content
            li A search feature for spirits
            li A way to organize spirits by type (orixa, exu, pomba gira, etc.)
            li A revamped spirit page, determined almost entirely by a WYSIWYG, so that editors can determine when and where content shows up, and how images would appear for each spirit
            li MORE DATA! The initial beta release of this project is simply to exist as a proof of concept (and to pass a class); as it is an evolving thing, you can expect more complete and accurate data about all varieties of spirits in the future