extends layout

block content
    div.card
        h2 Welcome to Candomble
        p This project began as a student's final project, and is slowly evolving to be something that can be shared with the world. If you have any input whatsoever, or want to be a contributor (of content, developer, designer) feel free to email&nbsp;
            a(href 'mailto:alice.easterdevelops@gmail.com') Alice Easter