div#spirit-basics {
  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
  }

  img#spirit-photo {
    width: 100%;
    object-fit: cover;

    @media only screen and (min-width: 1200px)
    {
      height: 500px;
    }

    @media only screen and (max-width: 1200px)
    {
      height: 750px;
    }
  }

  h1#spirit-name {
    font-size: 42px;
    font-weight: 700;
  }
}

div#main {
  margin-top: 1rem;
}